# Servidor
PORT=80
NODE_ENV=busca-ligacoes          # Ativa rota de download local

# AWS S3
AWS_ACCESS_KEY_ID=SUA_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=SEU_SECRET_KEY
AWS_BUCKET_NAME=nome-do-bucket   # Nome simples ou s3://meu-bucket
AWS_REGION=sa-east-1             # Ex: us-east-1, sa-east-1

# Busca Local — use o mesmo sufixo <ID> em PATH e YEARS
# Estrutura Padrão
PATH_74=\\192.168.12.51\backupligacoes
YEARS_74=2021,2022,2023,2024

# Estrutura Especial (com subpastas)
PATH_196=\\192.168.2.92\Bkp_Ligacoes,Backup_Gravacoes_10_11;Backup_Gravacoes_10_12
YEARS_196=2019,2020,2021
