seu-dominio-aqui.com.br, localhost {
    tls internal # remover em produção

    handle {
        reverse_proxy s3-protosearch:80 {
            transport http {
                read_timeout 120s
            }
        }
        header {
            -Via
        }
    }
}

:80 {
    redir https://{host}{uri} 301
}
